name: CI

on:
  push:

permissions:
  contents: read

jobs:
  test:
    strategy:
      matrix:
        go-version: [1.21.x, 1.25.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code
        uses: actions/checkout@v5
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ matrix.go-version }}
          cache: true
      - run: go version
      - name: Vendor modules
        run: go mod vendor
      - name: Run Linter
        uses: golangci/golangci-lint-action@v9
        with:
          version: v2.7.2
          args: --modules-download-mode vendor
      - name: Run Unit tests
        run: go test -v ./...
